page-login {
    ion-content {
        background: #fff;
    }
    img.logo-login {
        width: 250px;
    }
    h3 {
        color: white;
    }
    .top-20 {
        margin-top: 20%;
    }
    .top-5 {
        margin-top: 5%;
    }
}
