ion-card-title{
  font-size: 16px;
  .price{
    float: right;
  }
}
ion-card-header ion-card-subtitle{
  font-size: 15px;
}
ion-progress-bar{
  height: 10px;
  border-radius: 5px;
}
.label-priority{

}
.margin-top{
  margin-top:25px;
}
.text-bold{
  font-weight: bold;
}
.primary{
  color: #3880ff;
}
.dark{
  color:#222428;
  font-weight: bold;
}
